
.icon-channel_5_logo_red:before { content: '\e800'; } /* '' */
.icon-e4_logo:before { content: '\e801'; } /* '' */
.icon-mtv_logo_black:before { content: '\e802'; } /* '' */
.icon-skysports:before { content: '\e803'; } /* '' */
.icon-at&amp;t_logo_text_to_side:before { content: '\e804'; } /* '' */
.icon-chevrolet_logo_text:before { content: '\e805'; } /* '' */
.icon-coca-cola_text:before { content: '\e806'; } /* '' */
.icon-logo_chevrolet:before { content: '\e807'; } /* '' */
.icon-macmillan_black:before { content: '\e808'; } /* '' */
.icon-macmillan_green:before { content: '\e809'; } /* '' */
.icon-marche_du_film_logo:before { content: '\e80a'; } /* '' */
.icon-mtv_logo_red:before { content: '\e80b'; } /* '' */
.icon-optimizely_grey:before { content: '\e80c'; } /* '' */
.icon-optimizely_solutions:before { content: '\e80d'; } /* '' */
.icon-playstation_4_logo_and_wordmark:before { content: '\e80e'; } /* '' */
.icon-playstation_logo_colour:before { content: '\e80f'; } /* '' */
.icon-at&amp;t_logo_text_beneath:before { content: '\e810'; } /* '' */
.icon-chevrolet_gold:before { content: '\e811'; } /* '' */