
.icon-facebook-with-circle:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-linkedin-with-circle:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-pinterest-with-circle:before { content: '\e804'; } /* '' */
.icon-pinterest:before { content: '\e805'; } /* '' */
.icon-soundcloud:before { content: '\e806'; } /* '' */
.icon-spotify-with-circle:before { content: '\e807'; } /* '' */
.icon-spotify:before { content: '\e808'; } /* '' */
.icon-tumblr-with-circle:before { content: '\e809'; } /* '' */
.icon-tumblr:before { content: '\e80a'; } /* '' */
.icon-twitter-with-circle:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-vimeo-with-circle:before { content: '\e80d'; } /* '' */
.icon-vimeo:before { content: '\e80e'; } /* '' */
.icon-vine-with-circle:before { content: '\e80f'; } /* '' */
.icon-vine:before { content: '\e810'; } /* '' */
.icon-youtube-with-circle:before { content: '\e811'; } /* '' */
.icon-youtube:before { content: '\e812'; } /* '' */